@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html{
  height: 100vh;

}
body{
  height: 100vh;
}

:root{
  --purple1:#5F00AA;
  --purple2:#6122C4;
  --purple3:#7F0FEA;
  --purple4:rgb(214, 172, 247);
  --gray:#EEE;
  --black:#252525
}