.add-holiday-form {
    display: flex;
    flex-direction: row;
    /* height:40px; */
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 40px;
    align-items: center;
    width:100%;
}

.add-holiday-form input {
    width: auto;
}

/* .delete-holiday-btn{
position: absolute;
right:30px;
top:2px;
} */
