.loaderpos{
  padding: 30px;
    width: 100vw;
    height:100%;
    position: fixed;
    display: block;
    z-index: 100;
    background-color: rgb(255, 255, 255);
}
.loader{
    animation: skeleton-loading 1s linear infinite alternate;
}
.loader-prof{
      background: none;

  }
  @keyframes skeleton-loading {
    0% {
      background-color: hsla(210, 4%, 90%, 0.666);
    }
    100% {
      background-color: hsl(210, 9%, 96%);
    }
  }
.loader-img{
    text-indent: -160vw;
    overflow: hidden;
}
.loader-noti{
    /* position: relative; */
    /* background: linear-gradient( rgb(215, 215, 215), transparent); */
        font-size: 16px;
        --gradient: linear-gradient(hsla(0, 0%, 100%, 0.666),hsl(0, 0%, 100%));
       
      
}
.loader-noti::before{
    position: relative;
}
