.register {
  background-color: #FFFFFF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%236122c4' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%235f00aa' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23671ecc' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%235f07af' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%236d1ad3' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23600eb4' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%237317db' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%236014ba' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%237913e2' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23611bbf' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%237f0fea' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%236122c4' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  padding-top: 30px;
  /* align-items: center; */
  justify-content: center;
}

.container {

  padding: 20px;
  border-radius: 20px;
  /* background-color: #fff; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.container .heading {
  font-size: 1.3rem;
  margin-bottom: 20px;
  font-weight: bolder;
}

.form {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form .btn-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form .btn {
  padding: 10px 20px;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 8px;
  border: none;
  align-self: center;
  background: linear-gradient(135deg, var(--purple1), var(--purple2), var(--purple3));
  color: #fff;
  font-weight: bolder;
  transition: all 0.2s ease;
  width: inherit;

}

.form .btn:active {

  transform: scale(0.93);
}

.input-field {
  position: relative;
}

.input-field label {
  position: absolute;
  color: #8d8d8d;
  pointer-events: none;
  background-color: transparent;
  left: 15px;
  transform: translateY(0.6rem);
  transition: all 0.3s ease;
}

.input-field input {
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 8px;
  border: solid 1px #8d8d8d;
  letter-spacing: 1px;
  width: 100%;
}

.input-field input:focus {
  outline: none;
  border: solid 1px var(--purple1);
}

input:not(:placeholder-shown):invalid {
  border: 1px solid red;
  /* Apply red border */
}

input:invalid:not(:placeholder-shown)~label,
input:invalid:not(:placeholder-shown):focus~label {
  transform: translateY(-51%) translateX(-10px) scale(0.8);
  background-color: #fff;
  padding: 0px 5px;
  color: red;
  font-weight: bold;
  letter-spacing: 1px;
  border: none;
  border-radius: 100px;
}

.input-field input:focus~label,
.input-field input:valid~label {
  transform: translateY(-51%) translateX(-10px) scale(0.8);
  background-color: #fff;
  padding: 0px 5px;
  color: var(--purple1);
  font-weight: bold;
  letter-spacing: 1px;
  border: none;
  border-radius: 100px;
}

.form .passicon {
  cursor: pointer;
  font-size: 1.3rem;
  position: absolute;
  top: 6px;
  right: 8px;
}

.form .close {
  display: none;
}

.register .radio-inputs{
  background-color: var(--gray);
}

.radio-inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  width: 300px;
  font-size: 14px;
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: .5rem 0;
  color: rgba(51, 65, 85, 1);
  transition: all .15s ease-in-out;
}

.radio-inputs .radio input:checked+.name {
  background-color: var(--purple3);
  font-weight: 600;
  color: #fff;

}

.radio-inputs .male input:checked+.name {
  background-color: rgb(67, 249, 249);
  font-weight: 600;
  color: black;
}

.radio-inputs .female input:checked+.name {
  background-color: pink;
  font-weight: 600;
  color: black;
}