
 .Todo header {
   font-size: 2rem;
 }

 .Todo header,
 .Todo form {
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .Todo form input{
   padding: 0.5rem;
   font-size: 1.4rem;
   border: none;
   background-color: var(--gray);
   width: 30vw;
   height:2.7rem;
   /* background: white; */
  }

 .Todo form button {
   color: var(--purple1);
   /* background: #f7fffe; */
   background-color: var(--gray);
   height:2.7rem;
   padding: 6px;
   font-size: 1.6rem;
   cursor: pointer;
   transition: all 0.3s ease;
   border: none;
   transform: translate(0px,1px);
 }

 .Todo form button:hover {
   background: var(--purple1);
   color: white;
 }

 .todo-container {
   display: flex;
   justify-content: center;
   align-items: center;
   gap:10px;
 }

 .todo-list {
   min-width: 30%;
   list-style: none;
 }

 .todo {
   margin: 2rem 0px;
   background: white;
   font-size: 1.4rem;
   color: black;
   display: flex;
   justify-content: space-between;
   align-items: center;
   transition: all 1s ease;
 }

 .filter-todo {
   padding: 1rem;
   font-size: 1.2rem;


 }

 .todo li {
   flex: 1;
   overflow: auto;
   overflow-wrap: break-word;

 }

 .trash-btn,
 .complete-btn {
   background: rgb(244, 45, 45);
   color: white;
   border: none;
   padding: 10px;
   cursor: pointer;
   /* font-size: 3px; */
 }

 .complete-btn {
   background: rgba(29, 206, 29, 0.856);
 }

 .todo-item {
   padding: 0rem 0.5rem;
 }

 .fa-trash,
 .fa-check {
   pointer-events: none;
 }

 .fall {
   transform: translateY(10rem) rotateZ(20deg);
   opacity: 0;
 }

 .completed {
   text-decoration: line-through;
   opacity: 0.5;
 }

 /*CUSTOM SELECTOR */
 .Todo select {
   -webkit-appearance: none;
   -moz-appearance: none;
   -ms-appearance: none;
   appearance: none;
   outline: 0;
   box-shadow: none;
   border: 0 !important;
   background-image: none;
 }

 /* Custom Select */
 .select {
   margin: 1rem;
   position: relative;
   overflow: hidden;
 }

 .Todo select {
   color: var(--purple1);
   cursor: pointer;
   width: 14rem;
   padding: 10px 10px;
 }

 /* Arrow */
 .select::after {
   content: "\25BC";
   position: absolute;
   top: 0;
   right: 0;
   padding: 1rem;
   background: var(--purple1);
   cursor: pointer;
   pointer-events: none;
   color: #e3e3e3;
   font-size: 0.7rem ;
 }

 .Todo {
   background-color: rgb(255, 255, 255);
   height: 100vh;
  }
  
  .Todo select option{
    font-size: 0.7em;
    width:100%;
    overflow: auto;
  }
 /* Transition */
 /*
  .select:hover::after {
    transform: scale(1.5);
  }
  */
  @media screen and (max-width:765px) {
    .Todo form {
      flex-direction:column-reverse;
    }
    .Todo form input{
      width:52.5vw;
    }
  }