
.navbar {
  --col-orange: #d17842;
  --col-dark: #0c0f14;
  --col-darkGray: #52555a;
  --col-gray: #aeaeae;
  height:3.5rem;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(255, 255, 255);
  /* box-shadow: #b6b6b6 0px 0px 30px; */
  /* border-radius: 30px; */
  position: fixed;
  bottom:10px;
  /* padding-bottom: 2px; */
  /* left:10vw; */
}
.nav-label {
  padding: 8px 18px;
  transition: all 200ms;
  display: inline-block;
}

.nav-label input[type="radio"] {
  display: none;
}
.nav-label > svg {
  transition: all 200ms;
  fill: var(--col-gray);
  width: 20px;
}
.nav-label:hover:not(:has(input:checked)) > svg {
  fill: var(--purple1);
  opacity: 0.6;
}
.nav-label::before {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  border-radius: 5px;
  position: relative;
  left: 50%;
  top: 20px;
  background: var(--purple1);
  transition: all 200ms;
}
.nav-label > svg {
  transition: 300ms;
  fill: var(--col-darkGray);
  margin-top: 0;
}
.nav-label:has(input:checked) > svg {
  fill: var(--purple3);
  scale: 1.2;
  margin-top: -5px;
}

.nav-label:has(input:checked)::before {
  width: 100%;
  left: 0;
  top: 25px;
}
@media screen and (max-width:890px) {
  

.navbar {
    --col-orange: #d17842;
    --col-dark: #0c0f14;
    --col-darkGray: #52555a;
    --col-gray: #aeaeae;
    height:3.5rem;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255);
    box-shadow: #b6b6b6 0px 0px 30px;
    border-radius: 30px;
    position: fixed;
    bottom:20px;
    left:10vw;
  }
  .nav-label {
    padding: 8px 18px;
    transition: all 200ms;
    display: inline-block;
  }
  
  .nav-label input[type="radio"] {
    display: none;
  }
  .nav-label > svg {
    transition: all 200ms;
    fill: var(--col-gray);
    width: 20px;
  }
  .nav-label:hover:not(:has(input:checked)) > svg {
    fill: var(--purple1);
    opacity: 0.6;
  }
  .nav-label::before {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    border-radius: 5px;
    position: relative;
    left: 50%;
    top: 20px;
    background: var(--purple1);
    transition: all 200ms;
  }
  .nav-label > svg {
    transition: 300ms;
    fill: var(--col-darkGray);
    margin-top: 0;
  }
  .nav-label:has(input:checked) > svg {
    fill: var(--purple3);
    scale: 1.2;
    margin-top: -5px;
  }
  
  .nav-label:has(input:checked)::before {
    width: 100%;
    left: 0;
    top: 25px;
  }
}
  
