.notices {
  display: flex;
  flex-direction: column;


}

.notification {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  isolation: isolate;
  position: relative;
  width: 100%;
  min-height: 8rem;
  background: #ffffff;
  border-radius: 1rem;
  /* border: 1px solid var(--purple1); */
  overflow: hidden;
  font-size: 16px;
  --gradient: linear-gradient(to bottom, var(--purple1), var(--purple2), var(--purple3));
  margin-top: 15px;
}

.notification button {
  width: 46px;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 6;
  position: absolute;
  top: 40px;
  right: 0px;
}

.right {
  position: absolute;
  right: 0%;
  top: 12px !important;
  font-size: smaller;
}

/* .notification:before {
    position: absolute;
    content: "";
    inset: 0.0625rem;
    border-radius: 0.9375rem;
    background: #ffffff;
    z-index: 2
  } */

.notification:after {
  position: absolute;
  content: "";
  width: 0.25rem;
  inset: 0.65rem auto 0.65rem 0.5rem;
  border-radius: 0.125rem;
  background: var(--gradient);
  transition: transform 300ms ease;
  z-index: 4;
}

.notification:hover:after {
  transform: translateX(0.15rem)
}

.notititle {
  color: var(--purple1);
  padding: 0.65rem 0.25rem 0.4rem 1.25rem;
  font-weight: 500;
  font-size: 1.1rem;
  transition: transform 300ms ease;
  z-index: 5;
  text-wrap: wrap;
  width: calc(100% - 120px);
}

.notification:hover .notititle {
  transform: translateX(0.15rem)
}

.notibody {
  color: var(--black);
  padding: 0 1.25rem;
  transition: transform 300ms ease;
  z-index: 5;
  text-wrap: wrap;
  width: calc(100% - 40px);
}


.notification:hover .notibody {
  transform: translateX(0.25rem)
}

.notiglow,
.notiborderglow {
  position: absolute;
  width: 20rem;
  min-height: 20rem;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle closest-side at center, rgb(215, 215, 215), transparent);
  opacity: 0;
  transition: opacity 300ms ease;
}

.notiglow {
  z-index: 3;
}

.notiborderglow {
  z-index: 1;
}

.notification:hover .notiglow {
  opacity: 0.1
}

.notification:hover .notiborderglow {
  opacity: 0.1
}

.note {
  color: var(--black);
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 0.9rem;
  width: 75%;
}

@media screen and (max-width:768px) {
  .notice-form {
    flex-direction: column;
    width: 95% !important;
    margin: 10px;
    gap: 10px;
  }

  .right {
    right: 0%;
    top: 60px;
  }
}